<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <title>有奖微竞赛：《中国共产党廉洁自律准则》与《中国共产党纪律处分条例》</title>
    <link href="http://zshhb.weiwend.cn/css/e8d7ed46cc2097040bd7dc6ebf8_p1_mk1.css" rel="stylesheet" />
    <link href="http://zshhb.weiwend.cn/css/de0d01e302b3576ad267fc3ac71_p1_mk1.css" rel="stylesheet" />
    <script src="http://zshhb.weiwend.cn/js/jweixin-1.0.0.js"></script>
    <style type="text/css">
        body {
            /*background-color: red;*/
            background:url('http://zshhb.weiwend.cn/images/background_img.jpg') no-repeat;
            filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
            -moz-background-size:100% 100%;
            /*background-size:100% 100%;*/
        }
        /*首页顶部图片 */
        .index_c_img{
            background:url('') no-repeat;
            width:150px;
            height:100px;
            background-size:150px 160px;
            margin:0 auto;
        }
        /*首页标题 */
        .index_footer h3{
            font-size:18px;
            color:#000;
            font-weight:bold;
            padding:5px 0px;
            text-align:center;
            margin-top:10px;
        }
        /*首页活动说明框 */
        .index_tips{
            border:1px dashed red;
            padding:10px;
            color:#fff;
            font-size:12px;
            margin-top:10px;
        }
        /*首页活动说明 */
        h4, .h4 {
            color: #000;
            font-size:15px
        }
        /*首页活动说明备注 */
        .fg{
            position:relative;
            margin-top:10px;
            top:10px;
        }
        h6, .h6 {
            margin-top: 10px;
            font-family: fantasy;
            color: #000;
            font-size:14px
        }
        /*首页底部版权 */
        .copy{
            text-align:center;
            color:#000;
            font-size:13px;
            margin-top:5px;
        }
        /*问题样式 */
        .js_answer .a_mask1{
            margin-top:-60px;
            bottom:0px;
            z-index:2;
            height:60px;
            opacity:0.7;
            background: #000;
            width:100%;
        }
        /*结果页位置 */
        #panel3{
            position: absolute;
            top: 100px;
            width:100%;
            text-align:center;
        }
        /*结果页标题 */
        .js_result .text-danger{
            text-align:center;
            padding:20px 0px 5px 0px;
            color:#000;
        }
        /*结果页说明框*/
        .js_result dd{
            border:1px dashed red;
            padding:5px;
        }
        /*结果页说明 */
        .js_result dd p{
            color:#000;
            margin:0;
        }
        /*分享按钮 */
        .btn-success{
            color:#fff;
            background-color:#d9534f;
            border-color:#d43f3a;
        }
        /*结果页底部版权文字 */
        .copy_a_b{
            position: relative;
            top: 135px;
        }
        .copy_a{
            text-align:center;
            color:#000;
            font-size:13px;
            margin-top:5px;
        }
        .addthumb {padding-left:0;padding-right:0; height: 50px; overflow: hidden;}
    </style>
</head>
<body>
<div class="container">

    <div id="bd" class="panel">
        <!--答题首页-->
        <div id="panel1" class="panel-body">
            <div class="index_c_img"></div>
            <div class="index_footer">
                <h3><font face="宋体">答题领红包:《准则》《条例》微竞赛</font></h3>
                <a href="#result" class="btn btn-danger btn-block" onClick="return next(0);"> 进入考试</a>
                <div class="index_tips">
                    <p>
                        <h4>活动说明：</h4>
                        <h4>①答题完毕，您就有机会领取红包！</h4>
                        <h4>②将随机抽选出35名获奖者，最高奖金200元！</h4>
                        <h4>③参与此次微信答题的同时，你将参加中石化西北油田微公益活动。</h4>
                        <h4>④答题红包的10%、获奖红包的20%计入微公益基金，用于帮扶支助西北石油局困难职工家庭。</h4>
                    </p>
                    <div class="fg">
                        <p>
                            <h6>2016新年钟声已经敲响，在学习《中国共产党廉洁自律准则》和《中国共产党纪律处分条例》的热潮中，赶紧来测试一下是不是“学习达人”吧！</h6>
                        </p>
                    </div>
                </div>
                <div class="copy">最终解释权归属：中国石化西北油田</div>
                <div class="copy">（微信订阅号：tahefeng）</div>
            </div>
        </div>

        <!--答题页-->
        <div id="panel2" class="panel-body js_answer" data-type="1" style="display: none;">
            <dl><!--p1-->
                <dd>
                    <p class="a_img"><img src="http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIAic5Biccia4lXQI6ZZPvfRXlXyZtMGBnXlrX5ZvicR3F0G0uPWK22mu6TaA.jpg" style="width:100%" /></p>
                    <div class="a_mask1"></div>
                    <p class="a_title1">《中国共产党廉洁自律准则》的施行日期为______。</p>
                </dd>
            </dl>
            <ul class="list-group js_group">
                <li class="list-group-item " data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i>A.2015年10月12日</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> B.2015年10月18日</li>
                <li class="list-group-item" data-score="10" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i>C.2016年1月1日</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> D.2016年10月1日</li>
            </ul>
        </div>
        <div id="panel2" class="panel-body js_answer" data-type="1" style="display: none;">
            <dl><!--p2-->
                <dd>
                    <p class="a_img"><img src="http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIAriaoUmTibl7XJtRHNlbdOzoOhicAboeMS5MkLpPLDtwjiaORrO0CT5OicCA.jpg" style="width:100%" /></p>
                    <div class="a_mask1"></div>
                    <p class="a_title1"> ______是最根本的党内法规，是管党治党的总规矩。</p></dd>
            </dl>
            <ul class="list-group js_group">
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> A.《中国共产党廉洁自律准则》</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> B.《中国共产党纪律处分条例》</li>
                <li class="list-group-item" data-score="10" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> C.《中国共产党党章》</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> D.《中国共产党宣言》</li>
            </ul>
        </div>
        <div id="panel2" class="panel-body js_answer" data-type="1" style="display: none;">
            <dl><!--p3-->
                <dd>
                    <p class="a_img"><img src="http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIAicGlFcv7IsWY22vliaiaMXlI0QCaJCUycEknq6KX4KMS62rvFkQ0mJZJQ.jpg" style="width:100%" /></p>
                    <div class="a_mask2"></div>
                    <p class="a_title1">组织、参加旨在反对党的领导、反对社会主义制度或者敌视政府等组织的，对策划者、组织者和______，给予开除党籍处分。 </p>
                </dd>
            </dl>
            <ul class="list-group js_group">
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> A.领导者</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> B.教唆者</li>
                <li class="list-group-item" data-score="10" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> C.骨干分子</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> D.参与者</li>
            </ul>
        </div>
        <div id="panel2" class="panel-body js_answer" data-type="1" style="display: none;">
            <dl><!--p4-->
                <dd>
                    <p class="a_img"><img src="http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIASDGdnyky6FoZnupTj2iaY4RiaCOW6x31KWhG2LdyvI1TjichHjiaIJBoxQ.jpg" style="width:100%" /></p>
                    <div class="a_mask2"></div>
                    <p class="a_title1">执行党纪处分决定的机关或者受处分党员所在单位，应当在_____内将处分决定的执行情况向作出或者批准处分决定的机关报告。 </p>
                </dd>
            </dl>
            <ul class="list-group js_group">
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> A.三个月</li>
                <li class="list-group-item" data-score="10" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> B.六个月</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> C.九个月</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> D.一年</li>
            </ul>
        </div>
        <div id="panel2" class="panel-body js_answer" data-type="1" style="display: none;">
            <dl><!--p5-->
                <dd>
                    <p class="a_img"><img src="http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIAzAujhOgtUCQ8nDLcEJfy391w74KR9vg7m3IMT75VXpYmkuJYLFLHZw.jpg" style="width:100%" /></p>
                    <div class="a_mask1"></div>
                    <p class="a_title1">新修订的《准则》和《条例》是对_______的具体化。</p>
                </dd>
            </dl>
            <ul class="list-group js_group">
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> A.习总书记讲话精神  </li>
                <li class="list-group-item" data-score="10" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> B.党章规定</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> C.十八大精神 </li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> D.十八届三中全会精神</li>
            </ul>
        </div>
        <div id="panel2" class="panel-body js_answer" data-type="1" style="display: none;">
            <dl><!--p6-->
                <dd>
                    <p class="a_img"><img src="http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIAp08D1I37JjbTQI6hxLroDMEW8ThMfrrsZt4WQQ9BkYGjwZDhf3mjfA.jpg" style="width:100%" /></p>
                    <div class="a_mask1"></div>
                    <p class="a_title1">修订后的《中国共产党纪律处分条例》共_____编。</p>
                </dd>
            </dl>
            <ul class="list-group js_group">
                <li class="list-group-item" data-score="10" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> A.3</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> B.5</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> C.7</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> D.9</li>
            </ul>
        </div>
        <div id="panel2" class="panel-body js_answer" data-type="1" style="display: none;">
            <dl><!--p7-->
                <dd>
                    <p class="a_img"><img src="http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIAaXzdanfmTAfbjPFTFiaghcNYutLHdrh6sLzWmv6E0Ha6xOuIZRjwcrw.jpg" style="width:100%" /></p>
                    <div class="a_mask1"></div>
                    <p class="a_title1">以下哪一项不属于对党员的纪律处分种类______</p>
                </dd>
            </dl>
            <ul class="list-group js_group">
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> A.严重警告</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> B.撤销党内职务</li>
                <li class="list-group-item" data-score="10" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> C.开除公职</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> D.开除党籍</li>
            </ul>
        </div>
        <div id="panel2" class="panel-body js_answer" data-type="1" style="display: none;">
            <dl><!--p8-->
                <dd>
                    <p class="a_img"><img src="http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIATCdk4mEILicRNFmw86jNoVLMicQRPucqhL8wGRVxXE4IQom3NyX4r0QQ.jpg" style="width:100%" /></p>
                    <div class="a_mask1"></div>
                    <p class="a_title1">党员受留党察看处分期间，有哪些权利：</p>
                </dd>
            </dl>
            <ul class="list-group js_group">
                <li class="list-group-item" data-score="10" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> A.发言权</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> B.表决权</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> C.选举权</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> D.被选举权</li>
            </ul>
        </div>
        <div id="panel2" class="panel-body js_answer" data-type="1" style="display: none;">
            <dl><!--p9-->
                <dd>
                    <p class="a_img"><img src="http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIAUVmJAaKIsAIxFcWcGAnYtm1ObLDCqUNwcf9gYImZHlm5d2pxrUyysQ.jpg" style="width:100%" /></p>
                    <div class="a_mask2"></div>
                    <p class="a_title1">党组织在纪律审查中发现党员有贪污贿赂、失职渎职等刑法规定的行为涉嫌犯罪的，不应当给予的处分是_____</p>
                </dd>
            </dl>
            <ul class="list-group js_group">
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i>A.留党察看</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> B. 撤销党内职务 </li>
                <li class="list-group-item" data-score="10" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> C.严重警告</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> D.开除党籍</li>
            </ul>
        </div>
        <div id="panel2" class="panel-body js_answer" data-type="1" style="display: none;">
            <dl><!--p10-->
                <dd>
                    <p class="a_img"><img src="http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIAjMNBK4vcRzUDmbDOVRkYPukticnbBwibWUFfOg1v9Pnojyd6MdISMFGw.jpg" style="width:100%" /></p>
                    <div class="a_mask2"></div>
                    <p class="a_title1">利用职权或者职务上的影响，违反有关规定占用公物归个人使用，时间超过_____ ，情节较重的，给予警告或者严重警告处分；情节严重的，给予撤销党内职务处分。</p>
                </dd>
            </dl>
            <ul class="list-group js_group">
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> A.三个月 </li>
                <li class="list-group-item" data-score="10" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> B.六个月</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> C.一年</li>
                <li class="list-group-item" data-score="0" onClick="return toggle(this);"><i class="glyphicon glyphicon-unchecked"></i> D.两年</li>
            </ul>
        </div>

        <!--得分页 0-10 分-->
        <div id="panel3" class="panel-body js_result" data-id="0" style="display:none;">
            <h3 class="bold text-danger">恭喜您，答题完毕！</h3>
            <!--<p class="view_a"><a href="http://weixin.qq.com/r/vHVjbAzELjJRhx0PnyCY" onClick="WeiXinAddContact('tahefeng')">【欢迎参加答题领红包活动】</a></p>-->
            <dl>
                <dd>
                    <p>现在转发到朋友圈，您有机会获得红包哦！</p>
                </dd>
            </dl>
            <div class="buttons">
                <a href="javascript:void(0)" class="btn btn-success btn-block" onClick="$('#mcover').show()">分享到朋友圈</a>
            </div>
            <div class="copy_a_b">
                <div class="copy_a">欢迎继续关注中国石化西北油田其他新媒体活动！</div>
                <div class="copy_a">（微信订阅号：tahefeng）</div>
            </div>
        </div>

        <!--得分页 10-50 分-->
        <div id="panel3" class="panel-body js_result" data-id="1" style="display:none;">
            <h3 class="bold text-danger">恭喜您，答题完毕！</h3>
            <!--<p class="view_a"><a href="http://weixin.qq.com/r/vHVjbAzELjJRhx0PnyCY" onClick="WeiXinAddContact('tahefeng')">【欢迎参加答题领红包活动】</a></p>-->
            <dl>
                <dd>
                    <p>现在转发到朋友圈，您有机会获得红包哦！</p>
                </dd>
            </dl>
            <div class="buttons">
                <a href="javascript:void(0)" class="btn btn-success btn-block" onClick="$('#mcover').show()">分享到朋友圈</a>
            </div>
            <div class="copy_a_b">
                <div class="copy_a">欢迎继续关注中国石化西北油田其他新媒体活动！</div>
                <div class="copy_a">（微信订阅号：tahefeng）</div>
            </div>
        </div>

        <!--得分页 50 分-->
        <div id="panel3" class="panel-body js_result" data-id="2" style="display:none;">
            <h3 class="bold text-danger">恭喜您，答题完毕！</h3>
            <!--<p class="view_a"><a href="http://weixin.qq.com/r/vHVjbAzELjJRhx0PnyCY" onClick="WeiXinAddContact('tahefeng')">【欢迎参加答题领红包活动】</a></p>-->
            <dl>
                <dd>
                    <p>现在转发到朋友圈，您有机会获得红包哦！</p>
                </dd>
            </dl>
            <div class="buttons">
                <a href="javascript:void(0)" class="btn btn-success btn-block" onClick="$('#mcover').show()">分享到朋友圈</a>
            </div>
            <div class="copy_a_b">
                <div class="copy_a">欢迎继续关注中国石化西北油田其他新媒体活动！</div>
                <div class="copy_a">（微信订阅号：tahefeng）</div>
            </div>
        </div>

        <!--得分页 60 分-->
        <div id="panel3" class="panel-body js_result" data-id="3" style="display:none;">
            <h3 class="bold text-danger">恭喜您，答题完毕！</h3>
            <!--<p class="view_a"><a href="http://weixin.qq.com/r/vHVjbAzELjJRhx0PnyCY" onClick="WeiXinAddContact('tahefeng')">【欢迎参加答题领红包活动】</a></p>-->
            <dl>
                <dd>
                    <p>现在转发到朋友圈，您有机会获得红包哦！</p>
                </dd>
            </dl>
            <div class="buttons">
                <a href="javascript:void(0)" class="btn btn-success btn-block" onClick="$('#mcover').show()">分享到朋友圈</a>
            </div>
            <div class="copy_a_b">
                <div class="copy_a">欢迎继续关注中国石化西北油田其他新媒体活动！</div>
                <div class="copy_a">（微信订阅号：tahefeng）</div>
            </div>
        </div>

        <!--得分页 80 分-->
        <div id="panel3" class="panel-body js_result" data-id="4" style="display:none;">
            <h3 class="bold text-danger">恭喜您，答题完毕！</h3>
            <!--<p class="view_a"><a href="http://weixin.qq.com/r/vHVjbAzELjJRhx0PnyCY" onClick="WeiXinAddContact('tahefeng')">【欢迎参加答题领红包活动】</a></p>-->
            <dl>
                <dd>
                    <p>现在转发到朋友圈，您有机会获得红包哦！</p>
                </dd>
            </dl>
            <div class="buttons">
                <a href="javascript:void(0)" class="btn btn-success btn-block" onClick="$('#mcover').show()">分享到朋友圈</a>
            </div>
            <div class="copy_a_b">
                <div class="copy_a">欢迎继续关注中国石化西北油田其他新媒体活动！</div>
                <div class="copy_a">（微信订阅号：tahefeng）</div>
            </div>
        </div>

        <!--得分页 90 分-->
        <div id="panel3" class="panel-body js_result" data-id="5" style="display:none;">
            <h3 class="bold text-danger">恭喜您，答题完毕！</h3>
            <!--<p class="view_a"><a href="http://weixin.qq.com/r/vHVjbAzELjJRhx0PnyCY" onClick="WeiXinAddContact('tahefeng')">【欢迎参加答题领红包活动】</a></p>-->
            <dl>
                <dd>
                    <p>现在转发到朋友圈，您有机会获得红包哦！</p>
                </dd>
            </dl>
            <div class="buttons">
                <a href="javascript:void(0)" class="btn btn-success btn-block" onClick="$('#mcover').show()">分享到朋友圈</a>
            </div>
            <div class="copy_a_b">
                <div class="copy_a">欢迎继续关注中国石化西北油田其他新媒体活动！</div>
                <div class="copy_a">（微信订阅号：tahefeng）</div>
            </div>
        </div>

        <!--得分页 100 分-->
        <div id="panel3" class="panel-body js_result" data-id="6" style="display:none;">
            <h3 class="bold text-danger">恭喜您，答题完毕！</h3>
            <!--<p class="view_a"><a href="http://weixin.qq.com/r/vHVjbAzELjJRhx0PnyCY" onClick="WeiXinAddContact('tahefeng')">【欢迎参加答题领红包活动】</a></p>-->
            <dl>
                <dd>
                    <p>现在转发到朋友圈，您有机会获得红包哦！</p>
                </dd>
            </dl>
            <div class="buttons">
                <a href="javascript:void(0)" class="btn btn-success btn-block" onClick="$('#mcover').show()">分享到朋友圈</a>
            </div>
            <div class="copy_a_b">
                <div class="copy_a">欢迎继续关注中国石化西北油田其他新媒体活动！</div>
                <div class="copy_a">（微信订阅号：tahefeng）</div>
            </div>
        </div>
    </div>
</div>
<div id="mcover" onClick="$(this).hide()" hidden="hidden" style="top:0;position:absolute;width:100%;height:100%;background: rgba(0,0,0,.8)">
    <img src="http://zshhb.weiwend.cn/images/guide.png" style="top:50px;position:absolute;width:100%;">
</div>
<div class="loads" style="display:bolck"><i></i></div>
<script src="http://zshhb.weiwend.cn/js/25c5eefb3c743d94fc39af98c11_p1_mk1.js"></script>
<!--<script src="http://61.146.40.55:82/hz/js/weixinapi.min.js"></script>-->
<script type="text/javascript">
    //引导关注的链接
    var subscribe_url = 'http://mp.weixin.qq.com/s?__biz=MzA3NTQ1MDEwMg==&mid=402025008&idx=1&sn=7836d7390a020c62bd076eda1df3683b#rd';
    var stime;
    var total = '10';
    var tScore = 0;
    var ttime = 0;

    //得分结果页数组
    var scoreArr = new Array();
    scoreArr[0] = 0;
    scoreArr[1] = 10;
    scoreArr[2] = 50;
    scoreArr[3] = 60;
    scoreArr[4] = 70;
    scoreArr[5] = 80;
    scoreArr[6] = 90;

    //计时器
    function count_s(){
        nt = document.getElementById("now_time");
        num = parseInt(nt.getAttribute("data-src")) + 1;
        nt.innerHTML = num + '<i>秒</i>';
        nt.setAttribute("data-src",num);
        ttime++;
    }

    //开始答题触发事件
    function next(t){
        if(t==0){
            stime = window.setInterval(count_s,1000);
            ui = document.getElementById("fix_footer");
            ui.style.display="block";
            ui = document.getElementById("fix_nav");
            ui.style.display="none";
            $(".back_index").show();
            $(".back_index a").click(function(){
                location.reload();
            });
        }
        $(".panel-body").hide();
        var $_this = $(".js_answer").eq(t);
        $_this.show();
        var type = $_this.attr('data-type');
        if(type==2){
            $('#sicon').html('<span class="glyphicon glyphicon-headphones"></span>');
        }else if(type==1){
            $('#sicon').html('<span class="glyphicon glyphicon-picture"></span>');
        }else{
            $('#sicon').html('<span class="glyphicon glyphicon-pencil"></span>');
        }
    }

    //继续答题和得分结果页
    function result(t){
        $(".panel-body").hide();
        for (var i = scoreArr.length - 1; i >= 0; i--) {
            if (parseInt(t) >= parseInt(scoreArr[i])) {
                $(".js_result").eq(i).show();
                if(i > (total/2)){
                    $('#sicon').html('<span class="glyphicon glyphicon-thumbs-up"></span>');
                }else{
                    $('#sicon').html('<span class="glyphicon glyphicon-thumbs-down"></span>');
                }
                $.ajax({
                    url:'/index.php?s=/Home/Zsh/userAnswer',
                    type : 'post',
                    timeout: 15000,
                    data :{
                        score:tScore,
                        ttime:ttime
                    },
                    dataType: 'json',
                    success:function(result){
//                        if(result.code == '0'){    //提交成功
//                            alert('恭喜您答题完毕，请分享到朋友圈，领取红包');
//                        }else if(result.code == '1'){   //未关注
//                            alert('请先关注公众号，按照流程参与答题领红包活动');
//                            window.location.href = subscribe_url;
//                        }else if(result.code == '2'){  //已经参与过答题
//                            alert('您已答题完毕，请分享到朋友圈，领取红包');
//                        }else{  //系统繁忙
//                            alert('系统繁忙，请稍后重试');
//                        }
                    },
                    error:function(){
                        alert('服务繁忙，请稍后重试');
                    }
                });
                return false;
            }
        }
    }

    //点击选项触发事件
    function toggle(t){
        $(".list-group-item").removeClass('active');
        var score = $(t).attr("data-score");
        tScore  = parseInt(tScore) + parseInt(score);
        $(t).find('i').removeClass('glyphicon-unchecked').addClass('glyphicon-ok');
        $(t).addClass("on");
        var t = $(".js_answer").index($(t).parents(".js_answer")) + 1;
        $("#now_an").html(t);
        if(t == total){
            window.clearInterval(stime) ;
            result(tScore);
        }else{
            setTimeout(function(){next(t);},300);
        }
    }
    Zepto(function($){
        $('.loads').hide();
    });

    //获取URL上的参数
    function getQueryString(name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
        return null;
    }
</script>
<script type="text/javascript">
    var wx_imgUrl = 'http://zshhb.weiwend.cn/images/GsDSCfsUIzq6EEcxmQfcwOX5mvpwOvIAwss4qF2fYhwdxCOMBibs6iah2UicyWiaiamPT3glQAqH2Y8JDGmkib1YUuvw.jpg';
    var wx_title = '欢迎参与中国石化西北油田微答题，转发即领现金红包';
    var wx_desc = '西北油田位于大美新疆，是中石化第二大油田，是我国陆上十大油田之一';
    var wx_link = 'http://mp.weixin.qq.com/s?__biz=MzA3NTQ1MDEwMg==&mid=402025008&idx=1&sn=7836d7390a020c62bd076eda1df3683b#rd';

    $.ajax({
        url:'/index.php?s=/Home/Zsh/GetSignPackage',
        type : 'get',
        timeout: 15000,
        data :{},
        dataType: 'json',
        success:function(result){
            console.log(result);
            //微信JSSDK配置
            wx.config({
            debug: false,
                appId: result.appId,
                timestamp: result.timestamp,
                nonceStr: result.nonceStr,
                signature: result.signature,
                jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']   // 所有要调用的 API 都要加到这个列表中
            });
        },
        error:function(){
            alert('系统繁忙,请稍后重新进入');
        }
    });
    wx.ready(function(){
        //分享到朋友圈
        wx.onMenuShareTimeline({
            title: wx_title, // 分享标题
            link: wx_link, // 分享链接
            imgUrl: wx_imgUrl, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                $.ajax({
                    url:'/index.php?s=/Home/Zsh/userShare',
                    type : 'get',
                    timeout: 15000,
                    data :{},
                    dataType: 'json',
                    success:function(result){
                        if(result.code == '0'){  //分享成功
                            alert('恭喜！您抢到一个红包，两小时内会发到您的微信！');
                        }else if(result.code == '1'){   //未关注
                            alert('请先关注公众号，按照活动流程领取红包');
                            window.location.href = subscribe_url;
                        }else if(result.code == '2'){  //尚未答题
                            alert('您尚未答题，请先答题再分享');
                        }else if(result.code == '3'){  //已经领过红包
                            alert('本期活动红包您已领取，请下期再来参与');
                        }else if(result.code == '4'){  //参数有误
                            alert('您已抢到一个红包，两小时内会发到您的微信！');
                            window.location.href = subscribe_url;
                        }else if(result.code == '5'){  //红包发放完毕
                            alert('今天的红包发放完毕，请明天再来');
                        }else if(result.code == '6'){  //活动尚未开始
                            alert('活动尚未开始，请耐心等待');
                        }else if(result.code == '7'){  //本期活动已经结束
                            alert('今天没有活动，请关注活动日期');
                        }else{    //系统繁忙
                            alert('系统繁忙，请稍后重试');
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert('服务繁忙');
//                        alert(XMLHttpRequest.status);
//                        alert(XMLHttpRequest.readyState);
//                        alert(textStatus);
                    }
                });
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        //分享给朋友
        wx.onMenuShareAppMessage({
            title: wx_title, // 分享标题
            desc: wx_desc, // 分享描述
            link: wx_link, // 分享链接
            imgUrl: wx_imgUrl, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
<div class="hide"></div>
<div class="fix_footer" id="fix_footer" style="left:0;background-color:#333739;color:#ffffff;height:55px;width:100%;position:fixed;bottom:0%;font-size:14px;">
    <table width="100%" height="100%" border="0" style="border-collapse: collapse;">
        <tbody><tr>
            <td id="fix_footer_menu" align="center"><span id="now_an">0</span><br>
                已答题目</a></td>
            <td id="fix_footer_menu" align="center"><span>10</span><br>
                题目总数</a></td>
            <td id="fix_footer_menu" align="center"><span id="now_time" data-src='0'>0<i>秒</i></span><br>
                答题用时</a></td>
        </tr>

        </tbody></table>
</div>
<div class="back_index">
    <div class="back_mask"></div>
    <a href="javascript:void(0);">答题首页</a>
</div>
<div class="fix_nav" id="fix_nav">
    <div class="fix_sp"></div>
</div>
<script type="text/javascript" src="http://zshhb.weiwend.cn/js/helper.loader.js"></script><!-- START OF SmartSource Data Collector TAG -->
<SCRIPT SRC="http://zshhb.weiwend.cn/js/fangchan_5s7f_tag.js" TYPE="text/javascript"></SCRIPT>
<!-- END OF SmartSource Data Collector TAG -->
</body>
</html>