<div class="fc_left" style="background:#f0f9fd; width:187px; overflow:hidden; float:left;">
	<div class="lefttop"><span></span>通讯录</div>
    
    <dl class="leftmenu">
        
	<dd>
    <div class="title">
    <span><img src="__adminPublic__/images/leftico01.png" /></span>管理信息
    </div>
    	<ul class="menuson">
			<li <?php if($nav_name=="people"){echo "class='active'";}?> ><cite></cite><a href="{:U('../admin/people/index')}">参赛人员管理</a><i></i></li>
			<li <?php if($nav_name=="hongbao"){echo "class='active'";}?> ><cite></cite><a href="{:U('../admin/hongbao/index')}">红包管理</a><i></i></li>
        </ul>    
    </dd>
    </dl>
</div>