<script type="text/javascript">
$(document).ready(function(e) {
	document.title = "中石化红包";
});
</script>
<style>
	.fc_top{background:#276CAD;}
</style>
<div class="fc_top">
	<div style="float:left">
		<a href="#" target="_parent"></a>
	</div>
	<div style="color:white;float:left;font-size:36px;width:80%;text-align:center;margin-top:15px;">中石化红包管理平台</div>
	<div class="topright">    
		<ul >
			<li><span><img src="__adminPublic__/images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li>
			<li><a href="#">关于</a></li>
			<!-- <li><a href="login.html" target="_parent">退出</a></li> -->
		</ul>
		<div class="user">
			<span><?php echo session('username')?></span>
			
			<i><a href="{:U('../admin/index/logout')}" style="color:white" >退出</a></i>
			
		</div>    
	</div>
	<div class="cl"></div>
</div>
